.sign_up_box {
    color: #6c6c6c;
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 230px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.login_box {
    color: white;
    margin: 20px;
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    border-radius: 3px;
}

.login_toggle {
    cursor: pointer;
    text-align: center;
    width: 200px;
	height: 48px;
    line-height: 10px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #279000;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
    margin: 20 auto;
}

.login_toggle:hover {
    opacity: 0.8;
}

.box_tweet_gender {
    color: white;
    margin: 20px;
    font-family:sans-serif;
    font-size: 20px;
}


.box {
    background-color: white;
    margin-bottom: 5px;
    
}

.box_sort {
    
}

.box_hello {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

a {
    font-size: 20px;
}

.message {
    color: white;   
    font-size: 20px;
}

.box_tweet {
    height: 150px;
    margin: 20px;
    background-color: #bf0060;
    margin-bottom: -15px; 
    text-align: center;
    vertical-align: middle;
    color: white;
}
.box_tweet2 {
    color: #d05;
    height: 150px;
    margin: 20px;
    background-color: #030052;
    margin-bottom: -15px; 
    border: 2px;
    text-align: center;
    vertical-align: middle;
    color: white;
    
}

.dropdown select {
    border: 0 !important;.  /*Removes border*/
     -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
    background-color: transparent;
    height: 25px;
    margin: 20px;
    font-family: sans-serif;
}

.dropdown p {
	display: inline-block;
	font-weight: bold;
}

.login_page {
    background-image: url("../images/a1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box 
}

.tweet_page {
    background-color: #d6d6d4;
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: content-box 
    
}

p {
   size: 30px;
}

input[type="password"] {
    width: 200px;
	height: 45px;
    background: transparent;
    border: none;
    border: 1px solid #000000;
    border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
    font-weight: 400;
	padding: 4px;
    font-size: 20px;
    text-align: center;
    color: #279000;
}

input[type="text"] {
    width: 200px;
	height: 45px;
    background: transparent;
    border: none;
    border: 1px solid #000000;
    border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
    font-weight: 400;
	padding: 4px;
    font-size: 20px;
    text-align: center;
    color: #279000;
}

input[type="text"]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
    border-color: #279000;
}

input[type="password"]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
    border-color: #279000;
}

.login input[type="submit"]:focus{
	outline: none;
    border-color: #279000;
}

input[type="submit"] {
    width: 200px;
	height: 48px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #279000;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
	padding: 6px;
	margin-top: 10px;
}

input[type="submit"]:active{
	opacity: 0.6;
}

input[type="submit"]:hover{
	opacity: 0.8;
}

::-webkit-input-placeholder{
    color: rgba(137, 137, 137, 0.6)!important; 
}

::-moz-input-placeholder{
   color: rgba(41, 41, 41, 0.6);
}


.register-switch {
  height: 32px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.register-title {
  width: 270px;
  line-height: 43px;
  margin: 50px auto 20px;
  font-size: 25px;
    font-family: sans-serif;
  font-weight: 500;
  color: white;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #d7604b;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
  background-image: -moz-linear-gradient(top, #dc745e, #d45742);
  background-image: -o-linear-gradient(top, #dc745e, #d45742);
  background-image: linear-gradient(to bottom, #dc745e, #d45742);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

